@{
    ViewBag.Title = "Completed Projects";
}
<h1>Completed Projects</h1>

<div class="row push-bottom">
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/aquarium-front.jpg")">
            <img alt="Aquarium Front" class="thumbnail" src="@Url.Content("~/Content/photos/aquarium-front.jpg")" />
        </a>
    </div>
    <div class="span4 caption">
        <h2>Maritime Aquarium Center, Norwalk CT</h2>
        <p>
            This project was a 2&Prime; &#215; 2&Prime; square galvanized tubing job, for an
            awning company that needed varying sized trusses fabricated to install a large awning
            roof in March and April 2001.
        </p>
    </div>
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/aquarium-side.jpg")">
            <img alt="Aquarium Side" class="thumbnail" src="@Url.Content("~/Content/photos/aquarium-side.jpg")" />
        </a>
    </div>
</div>

<div class='row push-bottom'>
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/stamford-hospital-front.jpg")">
            <img alt="Stamford Hospital Front" class="thumbnail" src="@Url.Content("~/Content/photos/stamford-hospital-front.jpg")" />
        </a>
    </div>
    <div class='span4 caption'>
        <h2>Stamford Hospital Sign, Stamford CT</h2>
        <p>
            This custom Accent Signs project was an all aluminum sign with removable panels
            to access lights, with perfectly matched paint to match other signage on property,
            install November 2006.
        </p>
    </div>
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/stamford-hospital-side.jpg")">
            <img alt="Stamford Hospital Side" class="thumbnail" src="@Url.Content("~/Content/photos/stamford-hospital-side.jpg")" />
        </a>
    </div>
</div>

<div class='row push-bottom'>
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/bucket-front.jpg")">
            <img alt="Bucket Front" class="thumbnail" src="@Url.Content("~/Content/photos/bucket-front.jpg")" />
        </a>
    </div>
    <div class='span4 caption'>
        <h2>Heavy Duty Bucket Extension</h2>
        <p>
            This landscaping customer needed a heavy duty bucket extension with bracing 
            design and chain / rope tie offs, with perfectly matched paint.
        </p>
    </div>
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/bucket-top.jpg")">
            <img alt="Bucket Top" class="thumbnail" src="@Url.Content("~/Content/photos/bucket-top.jpg")" />
        </a>
    </div>
</div>

<div class='row push-bottom'>
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/uconn-parking.jpg")">
            <img alt="UCONN Parking Garage Sign" class="thumbnail" src="@Url.Content("~/Content/photos/uconn-parking.jpg")" />
        </a>
    </div>
    <div class='span4 caption'>
        <h2>UCONN Parking Garage, Stamford CT</h2>
        <p>
            This original sign was stripped of its fiberglass, Accent Signs redesigned 
            it's ten foot high shell and was refitted with an all aluminum body, welded 
            solid accept the removable back lighting access panel cover, installed in 
            March 2010.
        </p>
    </div>
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/uconn-parking-front.jpg")">
            <img alt="UCONN Parking Garage Front" class="thumbnail" src="@Url.Content("~/Content/photos/uconn-parking-front.jpg")" />
        </a>
    </div>
</div>

<div class='row push-bottom'>
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/dump-truck-before.jpg")">
            <img alt="Dump Truck Before" class="thumbnail" src="@Url.Content("~/Content/photos/dump-truck-before.jpg")" />
        </a>
    </div>
    <div class='span4 caption'>
        <h2>Replace Rear Sections of Dump Body</h2>
        <p>
            This municipal customer needed the two rear dump body rotted sections removed 
            and replaced with new ones, with all the light holes cut out for new lights, 
            primed with etching primer, with other minor repairs, per customers request. 
            Completed in November 2011.
        </p>
    </div>
    <div class='span3'>
        <a href="@Url.Content("~/Content/photos/fullsize/dump-truck-after.jpg")">
        <img alt="Dump Truck After" class="thumbnail" src="@Url.Content("~/Content/photos/dump-truck-after.jpg")" />
        </a>
    </div>
</div>